*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    padding: 10px 0 10px 0;
}

#win {
    font-size: 50px;
    padding: 20px;
}


body {
    background-color: black;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-results{
    display: flex;
    gap: 10px;
}

.conts{
    width: 80px;
    height: 80px;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas {
    color: white;
    font-size: 30px;
}

i {
    border: 1px solid white;
    padding: 10px;
    margin: 3px;
    cursor: pointer;
}

.containerWinner,
.containerLooser {
    width: 400px;
    height: 80px;
    border: 2px solid white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*display: none;*/
}

#winner {
    font-size: 50px;
}

#looser {
    font-size: 50px;
}

.display{
    display: none;
}